---

- name: Package Project
  hosts: localhost
  user: root
  gather_facts: false

  vars:

    # Parallelization Hints
    default_parallelization: 10
    search_parallelization: 4
    parse_parallelization: 4

    # Roles
    role: reducto-backend
    parse_role: reducto-backend

    # Minimum Role instances
    min_number: 2
    min_frontend: 1
    min_backend: 1

    # Seed node ip
    seed_ip: 10.236.128.152

  tasks:

    # API Boot
    - name: Modify Role name
      local_action: lineinfile dest=../src/main/scala/com/winston/api/ApiBoot.scala regexp='^\s*val role' line='          val role = "reducto-backend"'
      
    - name: Modify Parse Role name
      local_action: lineinfile dest=../src/main/scala/com/winston/api/ApiBoot.scala regexp='^\s*val parse_role' line='          val parse_role = "reducto-backend"'

    - name: Modify default parallelization  
      local_action: lineinfile dest=../src/main/scala/com/winston/api/ApiBoot.scala regexp='^\s*val default_parallelization' line='          val default_parallelization = {{default_parallelization}}'

    - name: Modify search parallelization  
      local_action: lineinfile dest=../src/main/scala/com/winston/api/ApiBoot.scala regexp='^\s*val search_parallelization' line='          val search_parallelization = {{search_parallelization}}'

    - name: Modify parse parallelization
      local_action: lineinfile dest=../src/main/scala/com/winston/api/ApiBoot.scala regexp='^\s*val parse_parallelization' line='          val parse_parallelization = {{parse_parallelization}}'


    # Reducto Config
    - name: Modify min number of roles
      local_action: lineinfile dest=../src/main/resources/reducto.conf regexp='^akka.cluster.min' line='akka.cluster.min-nr-of-members = {{min_number}}'

    - name: Modify min frontend 
      local_action: lineinfile dest=../src/main/resources/reducto.conf regexp='^\s*#?reducto-frontend.min' line='  reducto-frontend.min-nr-of-members = {{min_frontend}}'

    - name: Modify min backend 
      local_action: lineinfile dest=../src/main/resources/reducto.conf regexp='^\s*#?reducto-backend.min' line='  reducto-backend.min-nr-of-members = {{min_backend}}'


    # Application Config
    - name: Modify seed node
      local_action: lineinfile dest=../src/main/resources/application.conf regexp='^\s*seed-nodes =' line='    seed-nodes = ["akka.tcp://NLPClusterSystem-0-1@{{seed_ip}}:2551"]'


    # Remove old distribution
    - name: Remove old distribution
      local_action: shell rm -r ../target/reducto-dist
      ignore_errors: yes
   
    # Run dist
    - name: Run sbt dist
      local_action: shell cd .. && sbt dist

